<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/css/design.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="topnav">
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-page="Profile">Home</a>
            <a asp-page="ProfileInformation">Profile</a>
            <a asp-page="Logout">Log out</a>
        }
        else
        {
            <a asp-page="About">About Us</a>
            <a asp-page="Login">Login</a>
        }
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Media Bazaar
        </div>
    </footer>*@
    @*
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>