@page
@model WebApp.Pages.AboutModel
@{
}
<h1>About MediaBazaar</h1>
<p class="bold">Welcome to our company website! We are a newly assembled company, a child company of Jupiter.<br>
    We recently opened our first store in Eindhoven.<br>
    The stores are aimed at selling tech-related products<br>
    such as mobile phones, TVs, laptops, personal computers, <br>
    and many others.
Feel free to visit our first store at Stratumsedijk 41, Eindhoven.</p>