@page
@model WebApp.Pages.ChangePasswordModel
@{
}
<div class="main-contact-container">
    <form class="form-container" method="post">
        @Model.ViewData["ErrorMessage"]
        <label class="contactlabel" asp-for="OldPassword">Old password: </label>
        <span asp-validation-for="OldPassword"></span>
        <input class="contactinput" asp-for="OldPassword" />
        <br>
        <label class="contactlabel" asp-for="NewPassword">New password: </label>
        <span asp-validation-for="NewPassword"></span>
        <input class="contactinput" asp-for="NewPassword" />
        <br>
        <label class="contactlabel" asp-for="NewPasswordConfirm">Confirm new password: </label>
        <span asp-validation-for="NewPasswordConfirm"></span>
        <input class="contactinput" asp-for="NewPasswordConfirm" />
        <div class="button_container">
            <input class="ContactButton" type="submit" value="Submit" />
            <input class="ContactButton" type="reset" value="Cancel">
        </div>
    </form>
</div>