@page
@model WebApp.Pages.ChangePasswordModel
@{
}
<div class="main-contact-container">
    <form class="form-container" method="post">
        <label class="contactlabel" asp-for="NewPassword">New password: </label>
        <span asp-validation-for="NewPassword"></span>
        <input class="contactinput" asp-for="NewPassword" />
        <div class="button_container">
            <input class="ContactButton" type="submit" value="Submit" />
            <input class="ContactButton" type="reset" value="Cancel">
        </div>
    </form>
</div>