@page "/login"
@model WebApp.Pages.LoginModel
@{
}
<partial name="_ValidationScriptsPartial" />
<div class="main-contact-container">

    <form class="form-container" method="post">
        <h1>@Model.PageTitle</h1>
        <label class="contactlabel" asp-for="Username">Username:</label>
        <span asp-validation-for="Username"></span>
        <input class="contactinput" asp-for="Username"/>
        <br>
        <label class="contactlabel" asp-for="Password">Password:&nbsp; </label>
        <span asp-validation-for="Password"></span>
        <input class="contactinput" asp-for="Password" />
        <p id="error" >@ViewData["ValidateMessage"]</p>
        <div class="button_container">
            <input class="ContactButton" type="submit" value="Login" />
        </div>
    </form>
</div>