@page
@model WebApp.Pages.LogoutModel
@{
}
<div class="form-container">
    <h1>Are you sure you want to logout?</h1>
    <form method="post" asp-page-handler="LogOut">
        <button class="" type="submit">Log out</button>
    </form>
</div>
