@page "/"
@model WebApp.Pages.ProfileModel
@{
}
<h1>Welcome to your profile!</h1>
<a asp-page="ProfileInformation">Profile information</a>
<br>
<a asp-page="ChangePassword">Want to change your password? Click here!</a>
<br>
<p>Shifts:</p>
@foreach(var shift in Model.CurrentEmployee.shifts)
{
    <p>Date: @shift.date.Date Type: @shift.shiftType</p>
}
<a asp-page="Logout">Log out</a>