@page "/statistic"
@model WebApp.Pages.StatisticModel
@{
}

<div class="statistics">
    How many hours you worked in total: @Model.WorkedHoursTotal
    <br>
    How many hours you worked for the past month: @Model.WorkedHoursMonth
</div>